@model PropertyManagement.Models.Appointment

<h2>Edit Appointment</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.AppointmentId)

    @Html.Label("Tenant")
    @Html.DropDownList("TenantId", ViewBag.Tenants as SelectList, "Select a Tenant", new { @class = "form-control", @disabled = "disabled" })

    @Html.Label("Apartment")
    @Html.DropDownList("ApartmentId", ViewBag.Apartments as SelectList, "Select an Apartment", new { @class = "form-control", @disabled = "disabled" })

    @Html.LabelFor(m => m.AppointmentDate)
    @Html.TextBoxFor(m => m.AppointmentDate, new { @class = "form-control", type = "date" })

    @Html.LabelFor(m => m.AppointmentTime)
    @Html.TextBoxFor(m => m.AppointmentTime, new { @class = "form-control", type = "time" })

    @Html.LabelFor(m => m.Status)
    @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })

    <button type="submit" class="btn btn-primary">Save Changes</button>
}
